@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap');

* {
	box-sizing: border-box;
}

body {
	text-align: center;
	background: linear-gradient(180deg, #eaffea, #d5f4ff);
	margin: 0;
	min-height: 100vh;
	width: 100vw;
}

.wrapper h1 {
	font-family: "Times New Roman", Sans-serif;
	font-size: 8.5vw;
}

.wrapper-child {
	box-shadow: 1px 0px 5px 0px #fff, 0px 1px 5px 0px #fff, 	-1px 0px 7px 3px rgba(0,0,0,0.2), 0px -1px 7px 3px #fff;	
	width: 80%;
	min-height: 30vh;
	background: linear-gradient(45deg, #eaffea, #d5f4ff);
	margin: 0 auto 5vh;
	padding: 2vh 2vw;
}

.wrapper-child p {
	font-size: 5vw;
}

.wrapper-child p::before {
	content: "“";
	font-size: 10vw;
}

.wrapper-child p::after {
	content: "”";
	font-size: 10vw;
}

.wrapper-child button {
	background: white;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 3.5vw;
	width: 17vw;
	height: 8vw;
	box-shadow: 1px 0px 5px 0px #fff, 0px 1px 5px 0px #fff, 	-1px 0px 7px 3px rgba(0,0,0,0.2), 0px -1px 7px 3px #fff;	
	margin-top: 4vw;
}

.wrapper-child button:hover,
.wrapper-child button:focus {
	background: none;
	transform: scale(1.1);
}
